* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto';
}

body {
    background: linear-gradient(to top, rgb(120, 162, 238), black);
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img{
    height: 250px;
    align-items: center;
    justify-content: center;
}

header h1{
    font-size: 50px;
    font-weight: bolder;
    margin-left: 120px;
    justify-content: center;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
    margin-left: 100px;
}

form input {
    font-size: 24px;
    background-color: white;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: rgb(0, 41, 128);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table{
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td{
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}